/* || Global Styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Poppins;
    src: url(./assets/Fonts/Poppins-Medium.ttf) format("truetype");
}
@font-face {
    font-family: Poppins-Bold;
    src: url(./assets/Fonts/Poppins-Bold.ttf) format("truetype");
}
@font-face {
    font-family: Poppins-Light;
    src: url(./assets/Fonts/Poppins-Light.ttf) format("truetype");
}

:root {
    --White: #fff;
    --AlbescentWhite: #f6ebda;
    --MacaroniCheese: #ffbd7f;
    --SepiaSkin: #a0583c;
    --RomanCoffee: #835e4c;
    --BrownTumbleweed: #2f2105;
    --Black: #000;
    --BoxShaddow: #b7b7b7;
}

/* || Typography */

h1 {
    font-family: "Poppins-Bold", Arial, Helvetica, sans-serif;
    line-height: 150%;
}

.opening-text {
    font-family: "Poppins-Light", Arial, Helvetica, sans-serif;
    font-weight: lighter;
    line-height: 150%;
}

.order-now-btn {
    font-weight: bold;
}

.options-title {
    font-size: 1rem;
}

.coffee-card-section-title {
    letter-spacing: 0.1rem;
    text-align: start;
}

.card-price {
    font-size: 1.2rem;
    font-family: "Poppins-Bold", Arial, Helvetica, sans-serif;
}

/* || Main Styling */

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.mobile-nav {
    align-items: center;
    background-color: var(--White);
    box-shadow: 0 0rem 2rem grey;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: auto;
    justify-content: center;
    left: 50%;
    opacity: 0;
    padding: 4rem;
    position: absolute;
    top: 1rem;
    transform: translateX(-50%);
    width: 90%;
    z-index: 1;
}

.close-menu-icon {
    filter: brightness(0) saturate(100%) invert(12%) sepia(68%) saturate(554%)
        hue-rotate(2deg) brightness(95%) contrast(98%);
    height: auto;
    position: fixed;
    right: 1rem;
    top: 1rem;
    transition: filter 0.2s ease-in-out;
    width: 2.5rem;
}

.close-menu-icon:hover {
    filter: brightness(0) saturate(100%) invert(35%) sepia(4%) saturate(5693%)
        hue-rotate(335deg) brightness(95%) contrast(67%);
}

.mobile-nav-unhide {
    opacity: 1;
    z-index: 3;
}

.nav-link {
    color: var(--BrownTumbleweed);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.nav-link:hover {
    color: var(--MacaroniCheese);
}

/* Header */

header {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    position: relative;
}

.header-left,
.header-right {
    height: 20rem;
    padding: 1rem;
}

.header-right {
    align-items: start;
    background-color: var(--MacaroniCheese);
    display: flex;
    justify-content: end;
}

.page-logo {
    cursor: pointer;
    height: auto;
    width: 3rem;
}

.menu-btn {
    filter: brightness(0) saturate(100%) invert(12%) sepia(68%) saturate(554%)
        hue-rotate(2deg) brightness(95%) contrast(98%);
    cursor: pointer;
    height: auto;
    transition: filter 0.2s ease-in-out;
    width: 2rem;
    z-index: 2;
}

.menu-btn:hover {
    filter: brightness(0) saturate(100%) invert(35%) sepia(4%) saturate(5693%)
        hue-rotate(335deg) brightness(95%) contrast(67%);
}

.hero-grid {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
}

.hero-left-side {
    background-color: var(--White);
    height: 10rem;
}

.hero-right-side {
    background-color: var(--MacaroniCheese);
    height: 10rem;
}

.hero-coffee-img {
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translate(-50%);
    left: 50%;
    width: 15rem;
}

/* Opening Section */

.opening-section {
    padding: 1.5rem;
}

h1 {
    color: var(--BrownTumbleweed);
    margin-block-end: 1.2rem;
    width: 80%;
}

.text-yellow {
    color: var(--MacaroniCheese);
}

.opening-text {
    color: var(--BrownTumbleweed);
    margin-block-end: 1rem;
    width: 85%;
}

.order-now-btn {
    align-items: center;
    background-color: var(--BrownTumbleweed);
    border-radius: 2rem;
    border: none;
    color: var(--White);
    cursor: pointer;
    display: flex;
    gap: 1rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    width: auto;
}

.cart-icn-container {
    background-color: var(--MacaroniCheese);
    border-radius: 50%;
    display: flex;
    padding: 0.4rem;
    transition: background-color 0.2s ease-in-out;
}

.cart-icn {
    height: auto;
    transition: filter 0.2s ease-in-out;
    width: 0.8rem;
}

.order-now-btn:hover {
    background-color: var(--MacaroniCheese);
    color: var(--Black);
}

.order-now-btn:hover .cart-icn-container {
    background-color: var(--BrownTumbleweed);
    color: var(--White);
}

.order-now-btn:hover .cart-icn {
    filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(523%)
        hue-rotate(298deg) brightness(115%) contrast(100%);
}

/* Options Section */

.options-section {
    background-color: var(--AlbescentWhite);
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 2fr);
    text-align: center;
}

.options-item {
    cursor: pointer;
    padding: 1.2rem;
}

.options-icon {
    height: auto;
    filter: brightness(0) saturate(100%) invert(13%) sepia(62%) saturate(564%)
        hue-rotate(2deg) brightness(92%) contrast(100%);
    transition: filer 0.2s ease-in-out, transform 0.2s ease-in-out;
    width: 3rem;
}

.options-icon:hover {
    filter: brightness(0) saturate(100%) invert(39%) sepia(7%) saturate(2070%)
        hue-rotate(335deg) brightness(96%) contrast(89%);
    transform: scale(1.1);
}

/* Coffee Card Section */

.coffee-card-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0;
}

.coffee-card-section-title {
    color: var(--BrownTumbleweed);
    letter-spacing: 0.1rem;
    padding: 0 1.5rem;
    text-align: start;
    width: 100%;
}

.coffee-underlined {
    text-decoration: underline;
    text-decoration-color: var(--MacaroniCheese);
    text-underline-offset: 0.4rem;
    text-decoration-thickness: 0.2rem;
}

.coffee-card-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    overflow-x: scroll;
    padding: 0 1rem;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    height: 35rem;
}

.coffee-card-container::-webkit-scrollbar {
    display: none;
}

.coffee-card {
    border-radius: 1rem;
    background-color: var(--RomanCoffee);
    box-shadow: 0 1rem 1rem #b7b7b7;
    color: var(--AlbescentWhite);
    padding: 1rem;
    max-width: 18.5rem;
    scroll-snap-align: center;
    height: 32rem;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.coffee-card:hover {
    background-color: var(--MacaroniCheese);
    color: var(--RomanCoffee);
}

.card-image {
    border-radius: 1rem;
    height: 10rem;
    margin-block-end: 0.5rem;
    width: auto;
}

.card-text-container {
    margin-block-end: 1.5rem;
}

.card-title {
    margin-block-end: 0.5rem;
}

.card-text {
    font-family: "Poppins-Light", Arial, Helvetica, sans-serif;
    height: 12rem;
}

.price_order {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.card-button {
    background-color: var(--SepiaSkin);
    border: none;
    border-radius: 0.5rem;
    color: var(--White);
    cursor: pointer;
    font-weight: bold;
    padding: 0.5rem 1rem;
    text-align: start;
    width: 7rem;
}

/* Rewards Section */

.reward-section {
    align-items: center;
    background-color: var(--AlbescentWhite);
    color: var(--BrownTumbleweed);
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;
}

.reward-img {
    height: auto;
    filter: brightness(0) saturate(100%) invert(11%) sepia(48%) saturate(746%)
        hue-rotate(1deg) brightness(100%) contrast(98%);
    width: 2rem;
}

.reward-title {
    margin-block-end: 0.5rem;
}

.reward-link {
    align-items: center;
    color: var(--BrownTumbleweed);
    display: flex;
    text-decoration: none;
    transition: filter 0.2s ease-in-out;
}

.reward-link:hover {
    filter: brightness(0) saturate(100%) invert(38%) sepia(15%) saturate(1707%)
        hue-rotate(331deg) brightness(100%) contrast(92%);
}

.reward-arrow {
    height: auto;
    filter: brightness(0) saturate(100%) invert(11%) sepia(48%) saturate(746%)
        hue-rotate(1deg) brightness(100%) contrast(98%);
    margin-inline-start: 0.5rem;
    width: 1.5rem;
}

/* Menu Section */

.menu-section {
    padding: 1.5rem 1rem;
}

.menu-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    gap: 0.8rem;
    margin: 1.5rem 0;
    width: 100%;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    overflow-x: scroll;
    padding: 1rem 0;
}

.menu-container::-webkit-scrollbar {
    display: none;
}

.menu-card {
    background-color: var(--RomanCoffee);
    border-radius: 1rem;
    box-shadow: 0 0.5rem 0.5rem #b7b7b7;
    color: var(--AlbescentWhite);

    padding: 0.5rem;
    max-height: 15rem;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    width: 13rem;
}

.menu-card:hover {
    background-color: var(--MacaroniCheese);
    color: var(--RomanCoffee);
}

.menu-item-image {
    height: auto;
    width: 12rem;
}

.menu-card-title {
    margin-block-end: 1rem;
}
