/* || Global Styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Poppins;
    src: url(./assets/Fonts/Poppins-Medium.ttf) format("truetype");
}
@font-face {
    font-family: Poppins-Bold;
    src: url(./assets/Fonts/Poppins-Bold.ttf) format("truetype");
}
@font-face {
    font-family: Poppins-Light;
    src: url(./assets/Fonts/Poppins-Light.ttf) format("truetype");
}

:root {
    --White: #fff;
    --AlbescentWhite: #f6ebda;
    --MacaroniCheese: #ffbd7f;
    --SepiaSkin: #a0583c;
    --RomanCoffee: #835e4c;
    --BrownTumbleweed: #2f2105;
    --Black: #000;
}

/* || Typography */

h1 {
    font-family: "Poppins-Bold", Arial, Helvetica, sans-serif;
    line-height: 150%;
}

.opening-text {
    font-family: "Poppins-Light", Arial, Helvetica, sans-serif;
    font-weight: lighter;
    line-height: 150%;
}

.order-now-btn {
    font-weight: bold;
}

.options-title {
    font-size: 1rem;
}

/* || Main Styling */

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.mobile-nav {
    align-items: center;
    background-color: var(--White);
    box-shadow: 0 1rem 3rem grey;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 20rem;
    justify-content: center;
    left: 50%;
    opacity: 0;
    padding: 1.5rem;
    position: absolute;
    top: 1rem;
    transform: translateX(-50%);

    width: 90%;
    z-index: 1;
}

.close-menu-icon {
    filter: brightness(0) saturate(100%) invert(12%) sepia(68%) saturate(554%)
        hue-rotate(2deg) brightness(95%) contrast(98%);
    height: auto;
    position: fixed;
    right: 1rem;
    top: 1rem;
    transition: filter 0.2s ease-in-out;
    width: 2.5rem;
}

.close-menu-icon:hover {
    filter: brightness(0) saturate(100%) invert(35%) sepia(4%) saturate(5693%)
        hue-rotate(335deg) brightness(95%) contrast(67%);
}

.mobile-nav-unhide {
    opacity: 1;
    z-index: 3;
}

.nav-link {
    color: var(--BrownTumbleweed);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.nav-link:hover {
    color: var(--MacaroniCheese);
}

/* Header */

header {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    position: relative;
}

.header-left,
.header-right {
    height: 20rem;
    padding: 1rem;
}

.header-right {
    align-items: start;
    background-color: var(--MacaroniCheese);
    display: flex;
    justify-content: end;
}

.page-logo {
    cursor: pointer;
    height: auto;
    width: 3rem;
}

.menu-btn {
    filter: brightness(0) saturate(100%) invert(12%) sepia(68%) saturate(554%)
        hue-rotate(2deg) brightness(95%) contrast(98%);
    cursor: pointer;
    height: auto;
    transition: filter 0.2s ease-in-out;
    width: 2rem;
    z-index: 2;
}

.menu-btn:hover {
    filter: brightness(0) saturate(100%) invert(35%) sepia(4%) saturate(5693%)
        hue-rotate(335deg) brightness(95%) contrast(67%);
}

.hero-grid {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
}

.hero-left-side {
    background-color: var(--White);
    height: 10rem;
}

.hero-right-side {
    background-color: var(--MacaroniCheese);
    height: 10rem;
}

.hero-coffee-img {
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translate(-50%);
    left: 50%;
    width: 15rem;
}

/* Opening Section */

.opening-section {
    padding: 1.5rem;
}

h1 {
    color: var(--BrownTumbleweed);
    margin-block-end: 1.2rem;
    width: 80%;
}

.text-yellow {
    color: var(--MacaroniCheese);
}

.opening-text {
    color: var(--BrownTumbleweed);
    margin-block-end: 1rem;
    width: 85%;
}

.order-now-btn {
    align-items: center;
    background-color: var(--BrownTumbleweed);
    border-radius: 2rem;
    border: none;
    color: var(--White);
    cursor: pointer;
    display: flex;
    gap: 1rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    width: auto;
}

.cart-icn-container {
    background-color: var(--MacaroniCheese);
    border-radius: 50%;
    display: flex;
    padding: 0.4rem;
    transition: background-color 0.2s ease-in-out;
}

.cart-icn {
    height: auto;
    transition: filter 0.2s ease-in-out;
    width: 0.8rem;
}

.order-now-btn:hover {
    background-color: var(--MacaroniCheese);
    color: var(--Black);
}

.order-now-btn:hover .cart-icn-container {
    background-color: var(--BrownTumbleweed);
    color: var(--White);
}

.order-now-btn:hover .cart-icn {
    filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(523%)
        hue-rotate(298deg) brightness(115%) contrast(100%);
}

/* Options Section */

.options-section {
    background-color: var(--AlbescentWhite);
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 2fr);
    text-align: center;
}

.options-item {
    cursor: pointer;
    padding: 1.2rem;
}

.options-icon {
    height: auto;
    width: 3rem;
}
